footer {
  background-color: $footerBackground;
  & nav {
    h2 {
      @include font-size(1.6rem);
    }
    & ul {
      list-style-type: none;
      padding: 0;
      @include margin-bottom(1rem);
      & li {
        &:not(:last-child) {
          @include margin-right(1rem);
        }
      }
    }
  }
}
