header {
  background-color: $headerBackground;
  opacity: 0.8;

  & nav {
    & button {
      color: $specialTextPrimary;
    }
    & img {
      filter: none;
    }
    & .navbar-toggler {
      @include padding-top(0.25rem);
      @include padding-bottom(0.25rem);
      @include padding-left(0.2rem);
      @include padding-right(0);
    }
    & a {
      color: $specialTextSecondary;
      &:hover {
        color: $specialTextSecondaryActive;
      }
      &:active {
        color: $specialTextSecondaryActive;
      }
      &:focus {
        color: $specialTextSecondaryActive;
      }
      &.navbar-brand {
        @include font-size(1.7rem);
      }
      &.navbar-brand:hover {
        color: $specialTextSecondary;
      }
      &.navbar-brand:active {
        color: $specialTextSecondary;
      }
      &.navbar-brand:focus {
        color: $specialTextSecondary;
      }

      &.btn-secondary {
        width: 100%;
      }
    }
  }

  & .btn-toggle-theme {
    &:not(.dark-theme) {
      background: url("data:image/svg+xml,%3Csvg width='2rem' height='2rem' viewBox='0 0 16 16' class='bi bi-moon' fill='%23856404' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M14.53 10.53a7 7 0 0 1-9.058-9.058A7.003 7.003 0 0 0 8 15a7.002 7.002 0 0 0 6.53-4.47z'/%3E%3C/svg%3E")
        no-repeat top left;
      background-size: contain;
    }

    &.dark-theme {
      background: url("data:image/svg+xml,%3Csvg width='2rem' height='2rem' viewBox='0 0 16 16' class='bi bi-brightness-high-fill' fill='%23fff9c4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0z'/%3E%3Cpath fill-rule='evenodd' d='M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z'/%3E%3C/svg%3E")
        no-repeat top left;
      background-size: contain;
    }
  }

  @include media-breakpoint-up(lg) {
    .navbar-menu {
      width: auto;
    }
    .nav-item .btn-secondary {
      width: auto;
    }
  }
}
